.artworks::-webkit-scrollbar {
    display: none;
}
.artworks{
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.bg-cover{
    background-repeat: no-repeat;
    background-size: cover;
}
.deco-dark-line{
    width: 200px;
    border-bottom: 2px solid #141213;
    @media(max-width:992px) {
    width: 180px;
    }
}
.deco-light-line{
    width: 200px;
    border-bottom: 2px solid #FFFFFF;
    @media(max-width:992px) {
    width: 180px;
    }
}
.deco-bg{
    color:white;
    :hover{
      background-color: white;
      opacity: 0.5;
      color: #000;
      transition: all 1s;
    }
  }
.logo-title{
    width: 113px;
    display: block;
    background-position: center;
    background-size: contain;
    text-indent: 225px;
    white-space: nowrap;
    overflow: hidden;
    @media(max-width:768px) {
      width: 48px;
      text-indent: 50px;
    }
}
.up-hover{
    position: absolute;
    top:0%;
    padding-top: 100%;
    height: 120%;
     color: #525252;
    transition: all 1s;
  }
.up-hover-after{
    position: absolute;
    top:0%;
    height: 120%;
    padding-top: 80%;
    background-color:rgba(255,255,255,0.4);
    transition: all 0.6s;
}