<footer class="container py-12 border-top border-gray-light">
    <div class="d-flex justify-content-between">
      <a href="index.html" class="text-gray-light fs-7">藝術家檢索平台</a>
      <p class="text-gray-light">Copyright © 2023 All rights reserved.</p>
    </div>
  </footer>