<footer class="border-top border-gray-light">
  <div class="container py-8 py-md-10 py-lg-12">
    <div class="d-flex justify-content-md-between flex-column flex-md-row">
      <a href="index.html" class="text-gray-light fs-8 fs-md-7 mb-2 md-md-0">藝術家檢索平台</a>
      <p class="text-gray-light mb-0">Copyright © 2023 All rights reserved.</p>
    </div>
  </div>
</footer>