<nav class="container py-4 py-lg-7">
      <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="mb-0 pulse-animate">
          <img src="../assets/images/logo.png" alt="logo" class="img-fluid logo-title" >
          <h1 class="d-none">ART SEARCH</h1>
        </a>
        <ul class="d-flex list-unstyled align-items-center mb-0">
          <li class="pulse-animate">
            <a class="link-dark me-4 me-md-7 fw-bold" href="info.html">展覽資訊</a>
          </li>
          <li class="pulse-animate">
            <a class="link-dark fw-bold" href="artist.html">藝術家</a>
          </li>
        </ul>
        <div class="d-flex" role="search">
          <a href="search.html" class="text-dark me-2 me-md-3 pulse-animate"><span class="material-icons fs-4 mb-0">search</span></a>
          <a href="login.html" class="text-dark me-2 me-md-3 pulse-animate"><span class="material-icons fs-4 mb-0">account_circle</span></a>
          <a href="collect.html" class="text-dark pulse-animate"><span class="material-icons fs-4 mb-0">favorite</span></a>
        </div>
      </div>
  </nav>