.logo-title{
  width: 113px;
  height: 100%;
  display: block;
  background: url(../assets/images/logo.svg) no-repeat;
  background-position: center;
  text-indent: 225px;
  white-space: nowrap;
  overflow: hidden;
  @media(max-width:768px) {
    width: 48px;
    text-indent: 50px;
  }
}
.bg-cover{
background-repeat: no-repeat;
background-size: cover;
}
.deco-dark-line{
width: 200px;
border-bottom: 2px solid #141213;
@media(max-width:992px) {
width: 180px;
}
}
.deco-light-line{
width: 200px;
border-bottom: 2px solid #FFFFFF;
@media(max-width:992px) {
width: 180px;
}
}