<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>文森·梵谷－ART SEARCH</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="container py-11">
      <div class="d-flex justify-content-center mb-3 mb-md-9">
        <h2 class="fs-2 fw-bolder ms-7 ms-md-0 me-3 text-primary mb-4">文森·梵谷</h2>
        <a href="#" class="like fa-regular fa-heart fs-2 mb-0 text-primary"></a>
      </div>
      <div class="row">
        <div class="mb-8 mb-xl-10">
          <h3 class="fs-4 fw-bold ms-7 ms-md-0">生平簡介.</h3>
          <div class="d-flex flex-column flex-md-row align-items-md-center">
            <p class="fs-7 fs-md-6 mb-4 mb-md-0 ms-7 ms-md-0 me-9">Biography</p>
            <div class="deco-dark-line"></div>
          </div>
        </div>
      </div>
      <div class="row flex-row-reverse justify-content-center mb-8 mb-xl-10">
        <div class="col-lg-6 col-xl-7 mb-n8 mb-lg-0 z-3">
          <div class="mt-xl-8 mb-8 mb-xl-10">
            <p class="text-gray-light mb-2">文森·威廉·梵谷，早年曾譯梵谷柯，荷蘭後印象派畫家，是表現主義的先驅，並深深影響了二十世紀藝術，尤其是野獸派與德國表現主義。梵谷的作品，如《星夜》、《向日葵》、《有烏鴉的麥田》等，現已躋身於全球最知名的藝術作品的行列。
              在2004年票選最偉大的荷蘭人當中，排名第十，次於第九偉大的17世紀畫家林布蘭。</p>
            <p class="text-gray-light mb-2">1861年梵谷開始接受教育，在學習語言包括法語、德語及英語表現不錯，但在1868年3月中斷學業，並在1869年7月在國際藝術品交易商公司見習。經歷了短暫的工作生涯後，他成為傳教士，向貧困的採礦工人傳教。直到大約27歲時，梵谷才開始了他的畫家生涯，然而，在他生前的最後十年間，卻創作了2100幅左右的畫作，包括約860幅的油畫。</p>
            <p class="text-gray-light mb-2"></p>梵谷早期只以灰暗色系進行創作，直到他在巴黎遇見了印象派與新印象派。梵谷融入了他們的鮮豔色彩與畫風，創造了他獨特的個人畫風，尤其在梵谷待在法國阿爾勒的那段時間，發展已臻成熟。他最著名的作品多半是他在生前最後兩年創作的，期間梵谷的作品乏人問津，深陷於精神疾病和貧困中，最後導致他在37歲那年自殺。</p>
          </div>
          <div class="d-flex justify-content-end d-lg-inline-block">
            <div class="bg-gray-light text-white p-5 ms-lg-n11 shadow">
              <p class="mb-2">風格<span class="ms-5">印象派</span></p>
              <p>年代<span class="ms-5">1853年 - 1890年</span></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-5 z-1">
          <img src="../assets/images/文森梵谷(big).jpg" class="img-fluid shadow" alt="文森梵谷-image">
        </div>
      </div>
    </section>
    <section class="bg-primary-light bg-cover pt-9 pt-md-11 pt-lg-16 pb-11 mb-8 mb-xl-10" style="background-image: url(../assets/images/bg2.png);">
      <div class="container-fluid px-sm-12 px-lg-14">
        <div class="row justify-content-between mb-8 mb-md-10">
          <div class="col px-0 px-lg-2">
            <h3 class="fs-4 fw-bolder ms-7 ms-md-0">作品選集.</h3>
            <div class="d-flex flex-column flex-md-row align-items-md-center">
              <p class="fs-7 fs-md-6 mb-4 mb-md-0 ms-7 ms-md-0 me-9">Artworks</p>
              <div class="deco-dark-line"></div>
            </div>
          </div>
        </div>
        <div class="row flex-nowrap overflow-auto px-8 py-4  mb-7 mb-md-10 artworks">
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 position-relative">
            <div class="card bg-transparent">
              <img src="../assets/images/向日葵.jpg" class="img-fluid" alt="向日葵-image">
              <div class="card-img-overlay deco-bg p-0">
                <div class="d-flex justify-content-center align-items-center w-100 h-100">
                  <a href="#" class="card-link stretched-link fw-bold fs-4 deco-bg">向日葵</a>
                </div> 
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 position-relative">
            <div class="card">
              <img src="../assets/images/星夜.jpg" class="img-fluid" alt="星夜-image">
              <div class="card-img-overlay deco-bg p-0">
                <div class="d-flex justify-content-center align-items-center w-100 h-100">
                  <a href="#" class="card-link stretched-link fw-bold fs-4 deco-bg">星夜</a>
                </div> 
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 position-relative">
            <div class="card">
              <img src="../assets/images/奧維爾教堂.jpg" class="img-fluid" alt="奧維爾教堂-image">
              <div class="card-img-overlay deco-bg p-0">
                <div class="d-flex justify-content-center align-items-center w-100 h-100">
                  <a href="#" class="card-link stretched-link fw-bold fs-4 deco-bg">奧維爾教堂</a>
                </div> 
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 position-relative">
            <div class="card">
              <img src="../assets/images/鳶尾花.jpg" class="img-fluid bg-primary-light" alt="鳶尾花-image">
              <div class="card-img-overlay deco-bg p-0">
                <div class="d-flex justify-content-center align-items-center w-100 h-100">
                  <a href="#" class="card-link stretched-link fw-bold fs-4 deco-bg">鳶尾花</a>
                </div> 
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 position-relative">
            <div class="card">
              <img src="../assets/images/絲柏樹.jpg" class="img-fluid bg-primary-light" alt="絲柏樹-image">
              <div class="card-img-overlay deco-bg p-0">
                <div class="d-flex justify-content-center align-items-center w-100 h-100">
                  <a href="#" class="card-link stretched-link fw-bold fs-4 deco-bg">絲柏樹</a>
                </div> 
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 position-relative">
            <div class="card">
              <img src="../assets/images/在亞爾的臥室.jpg" class="img-fluid bg-primary-light" alt="在亞爾的臥室-image">
              <div class="card-img-overlay deco-bg p-0">
                <div class="d-flex justify-content-center align-items-center w-100 h-100">
                  <a href="#" class="card-link stretched-link fw-bold fs-4 deco-bg">在亞爾的臥室</a>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="../assets/js/jquery-3.6.4.min.js"></script>
    <script src="../assets/js/jqueny.js"></script>
  </body>
</html>
