<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <title>展覽資訊－ART SEARCH</title>
</head>

<body>
  <%- include('./layout/header'); -%>
  <section class="container">
    <div class="card rounded-0 border-0">
      <img src="../assets/images/banner.jpg" class="card-img rounded-0" alt="background-image">
      <div
        class="card-img-overlay bg-light bg-opacity-75 p-0 d-none d-md-flex align-items-center justify-content-center"
        style="max-height: 500px;">
        <div class="card-body text-center">
          <h2 class="fw-bolder fs-2 mb-6">開啟藝術之門，<br class="d-md-none">探索無盡魅力！</h2>
          <p class="fs-4 mb-0 lh-sm">Discover Artistry Unbound -<br class="d-md-none"> Embrace the Masterpieces!</p>
        </div>
      </div>
      <div class="text-center py-4 d-md-none">
        <h2 class="fw-bolder fs-3 mb-3">開啟藝術之門，<br class="d-md-none">探索無盡魅力！</h2>
        <p class="fs-7 mb-0 lh-sm">Discover Artistry Unbound -<br class="d-md-none"> Embrace the Masterpieces!</p>
      </div>
    </div>
  </section>
  <section class="container py-11 py-lg-14">
    <div class="row justify-content-between mb-8 mb-md-10">
      <div class="col-md-10 col-lg-8 px-0 px-md-2">
        <h2 class="fw-bolder ms-7 ms-md-0">展覽資訊.</h2>
        <div class="d-flex flex-column flex-md-row align-items-md-center">
          <p class="fs-8 fs-md-4 mb-4 mb-md-0 ms-7 ms-md-0 me-9">Exhibition Information</p>
          <div class="deco-dark-line"></div>
        </div>
      </div>
    </div>
    <div class="row flex-column align-items-center">
      <div class="col-lg-10 col-xl-12">
        <div class="card mb-12 shadow">
          <div class="row g-0">
            <div class="col-xl-7">
              <img src="../assets/images/info01.jpeg" class="img-fluid bg-cover" alt="吾之道">
            </div>
            <div class="col-xl-5 d-flex align-items-center bg-secondary-light">
              <div class="card-body">
                <h3 class="card-title fs-5 fw-bold mb-4">吾之道：何德來回顧展</h3>
                <p class="card-text text-gray-light mb-4">
                  本展以「吾之道」為名，主要是彰顯何德來獻身藝術的決意，以及他另闢蹊徑後建構的藝術之路。1974年，70歲的何德來出版了一本類自傳的詩集「私の道」（吾之道，或譯我的路）。
                </p>
                <time class="text-primary fw-bold d-block text-end">展出日期 : 2023/07/08-2023/10/22</time>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-xl-12">
        <div class="card mb-12  shadow">
          <div class="row flex-row-reverse g-0">
            <div class="col-xl-7">
              <img src="../assets/images/info02.jpeg" class="img-fluid" alt="數位孿生技術下的未來判罰形式">
            </div>
            <div class="col-xl-5 d-flex align-items-center">
              <div class="card-body">
                <h3 class="card-title fs-5 fw-bold mb-4">數位孿生技術下的未來判罰形式：<br class="d-none d-xl-block">施懿珊個展</h3>
                <p class="card-text text-gray-light">
                  探討被機器物件中介的各種人類行為和科技治理，本次個展，施懿珊將以一場反身份社會定義、反技術商業壟斷、和對合法系統下「非法的臉」的技術資產化進行抵抗的「穿牆實驗」。
                </p>
                <time class="text-primary fw-bold d-block text-end">展出日期 : 2023/07/15 - 2023/10/08</time>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-xl-12">
        <div class="card mb-12 shadow">
          <div class="row g-0">
            <div class="col-xl-7">
              <img src="../assets/images/info03.jpeg" class="img-fluid bg-cover" alt="跟你說個故事:很久很久以後">
            </div>
            <div class="col-xl-5 d-flex align-items-center bg-secondary-light">
              <div class="card-body">
                <h3 class="card-title fs-5 fw-bold mb-4">跟你說個故事:很久很久以後</h3>
                <p class="card-text text-gray-light">
                  一個不可考的時空、一個主角、一個轉折，加上追求動機，過程中還會有幫助者與阻礙者，將所有元素連接起來，就成為一個關於蛻變和轉變的故事。這時候如果再摻有一些神秘和魔法元素，就能更增添奇幻色彩，它能勾起我們天馬行空的想像。
                </p>
                <time class="text-primary fw-bold d-block text-end">展出日期 : 2023/03/04 - 2023/08/27</time>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-xl-12">
        <div class="card mb-10 shadow">
          <div class="row g-0 row flex-row-reverse g-0">
            <div class="col-xl-7">
              <img src="../assets/images/info04.png" class="img-fluid" alt="無垠之森">
            </div>
            <div class="col-xl-5 d-flex align-items-center">
              <div class="card-body">
                <h3 class="card-title fs-5 fw-bold mb-4">無垠之森</h3>
                <p class="card-text text-gray-light">
                  「無垠之森」試圖從仰賴載體與播放機制等「時間留存技術」之時基藝術品出發。<br>風開始湧動，讓我們邁步踏進森林的核心。
                </p>
                <time class="text-primary fw-bold d-block text-end">展出日期 : 2023/07/01 - 2023/09/24</time>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link active" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </section>


  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>

</html>
