<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="../assets/images/logo.png">
  <title>展覽資訊－ART SEARCH</title>
</head>
<body>
  <%- include('./layout/header'); -%>
  <section class="py-4 pb-md-11 mb-7 mb-md-9 bg-size-contain bg-position-center" style="background: url(../assets/images/logo\(big\).png) no-repeat;">
    <div class="container">
        <div class="row justify-content-center mb-8 mb-md-12 mb-lg-10">
            <div class="col-md-10 col-lg-8 px-0 px-md-2" data-aos="fade-right">
              <h2 class="fw-bolder ms-7 ms-md-0">會員登入.</h2>
              <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                <p class="fs-8 fs-md-4 mb-4 mb-md-0 ms-7 ms-md-0 deco-dark-line">Login</p>
              </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8 col-lg-7"  data-aos="fade-left">
                <form action="#" class="needs-validation" novalidate>
                    <div class="mb-5">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="example@gmail.com"  required>
                        <div class="invalid-feedback">
                            請重新輸入信箱
                          </div>
                    </div>
                    <div class="mb-5">
                        <label for="password" class="form-label">密碼</label>
                        <input type="password" name="password" class="form-control" placeholder="6~12位數且含英文及數字" required>
                        <div class="invalid-feedback">
                            請重新輸入密碼
                          </div>
                    </div>
                    <div class="form-check-inline mb-5">
                        <input type="checkbox" name="rememberPassword" class="form-check-input">
                        <label for="rememberPassword" class="form-check-label">記住我的密碼</label>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-4 col-lg-6 mb-3 mb-md-0">
                            <a href="#" class="link-primary fw-bold d-flex align-items-center">忘記密碼<span class="material-icons ms-1">key</span></a>
                        </div>
                        <div class="col-md-8 col-lg-4">
                            <div class="d-flex flex-column justify-content-end">
                                <button class="btn btn-primary py-3 mb-3 text-white d-flex align-items-center justify-content-between">登入<span class="material-icons">trending_flat</span></button>
                                <a href="signin.html" class="link-primary fw-bold text-end">還沒成為會員嗎？</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </section>
  <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <script>
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
</body>

</html>