<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="../assets/images/logo.png">
  <title>會員註冊－ART SEARCH</title>
</head>

<body>
  <%- include('./layout/header'); -%>

  <section class="py-4 pb-md-11 mb-7 mb-md-9 bg-size-contain bg-position-center" style="background: url(../assets/images/logo\(big\).png) no-repeat;">
    <div class="container">
      <div class="row justify-content-between mb-8 mb-md-12 mb-lg-10">
        <div class="col-md-10 col-lg-8" data-aos="fade-right">
          <h2 class="fw-bolder ms-7 ms-md-0">會員註冊.</h2>
          <div class="d-flex flex-column flex-lg-row align-items-lg-center">
            <p class="fs-8 fs-md-4 mb-4 mb-md-0 ms-7 ms-md-0 deco-dark-line">Register</p>
          </div>
        </div>
      </div>
      <form action="#" class="needs-validation" novalidate>
        <div class="row justify-content-center">
          <div class="col-md-6 align-items-center mb-7 mb-md-0" data-aos="fade-right">
            <div class="mb-5">
              <label for="name" class="form-label">姓名</label>
              <input type="name" name="name" class="form-control" placeholder="王小明"  required>
              <div class="invalid-feedback">
                  請重新輸入姓名
              </div>
            </div>
            <div class="mb-5">
              <label for="email" class="form-label">Email</label>
              <input type="email" name="email" class="form-control" placeholder="example@gmail.com"  required>
              <div class="invalid-feedback">
                  請重新輸入信箱
              </div>
            </div>
            <div class="mb-5">
              <label for="password" class="form-label">設定密碼</label>
              <input type="password" name="password" class="form-control" placeholder="6~12位數且含英文及數字" required>
              <div class="invalid-feedback">
                  請重新輸入密碼
              </div>
            </div>
            <div class="mb-5">
              <label for="check-password" class="form-label">再次輸入密碼</label>
              <input type="password" name="check-password" class="form-control" placeholder="6~12位數且含英文及數字" required>
              <div class="invalid-feedback">
                  請再次輸入密碼
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex flex-column justify-content-between" data-aos="fade-left">
            <div>
              <p class="mb-3 fs-6"><strong>註冊須知.</strong></p>
              <p class="mb-3 ">本網站僅收集足以識別使用者身分的個人資料，僅供用於本網站內部，並依照收集之目的進行處理和利用。<br>除非事先說明、或為完成提供服務及履行合約義務之必要，依照相關法令規定或有權主管機關之命令或要求，否則本網站不會將足以識別使用者身分的個人資料提供給第三人（包括境內及境外）、或移作收集目的以外之使用。<br> 在會員有效期間，以及法令所定應保存之期間內，本網站會持續保管、處理及利用。</p>
              <div class="mb-7 md-md-0">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" required>
                  <label class="form-check-label">
                    我已閱讀完畢且同意
                  </label>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-end align-items-end">
              <button class="btn btn-primary py-3 mb-3 text-white d-flex align-items-center justify-content-between w-100 w-lg-50">註冊<span class="material-icons">trending_flat</span></button>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </section>


  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
  <script>
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
</body>

</html>
